<footer style="display:flex">
    <div >
        {{- range $index, $key := .Site.Params.Social -}}
        <!-- <a class="soc" href="{{ $key.url }}" title="{{ $key.name }}">{{ $key.icon }}</a> -->
   <a class="soc" href="{{ $key.url }}" title="{{ $key.name }}"><i data-feather="{{ $key.icon }}"></i></a>
        {{- end -}}

    </div>
    <div class="footer-info">

        {{ with .Site.Copyright }} {{ . }} | {{ end }}
        Доброго вечора, ми з України.<span id="flicker">❤️</span> {{ dateFormat "2006" now }}
    </div>

</footer>
{{- if (isset .Site.Params "social") -}}
<script>
  feather.replace()
</script>
{{- end -}}